* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered {
    text-align: center;
}

.cooking {
    margin: 5%;
    background-color: azure;
    font-size: large;
}

.failedSearch {
    font-size: x-large;
    margin: 5%;
}

.footer {
    color: orange;
    align-content: center;
    text-align: center;
    padding-top: 30px;
    height: 100px;
    margin-bottom: 10px;
}

.gameDescription {
    margin: 30px;
    font-size: large;
}

.gamingImage {
    width: 100%;
    max-height: 100%;
}

.gamingSection {
    width: 100%;
    height: 500px;
}

.heading {
    font-size: xx-large;
    font-weight: bold;
    color: darkslategrey;
    margin-top: 20px;
    height: 50px;
}

.hots {
    height: 125%;
    background-color: rgb(7, 7, 49);
    color: white;
}

.largeImage {
    margin-left: 200px;
    margin-bottom: 20px;
}

.paragraph {
    padding: 10px;
    color: darkblue;
    font-size: x-large;
}

.persona5 {
    height: 135%;
    background-color: rgb(124, 8, 8);
    color: black;
    font-weight: 500;
}

.pokemon {
    height: 200%;
    background-color: rgb(250, 245, 250);
}

.pokemonAbility {
    list-style-type: none;
}

.pokemonImage {
    width: calc(20% + 50px);
    margin-left: calc(40% - 25px);
}

#pokemonInput {
    margin: 5%;
    width: calc(25% + 50px);
}

.pokemonMove {
    list-style-type: circle;
    margin: 2%;
}

.pokemonMoves {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pokemonName {
    text-align: center;
    font-size: xx-large;
    width: 100%;
    height: 10%;

}

#pokemonSearch {
    margin: 0 5% 5% 5%;
    width: calc(10% + 50px);
    height: 7%;
    font-size: large;
}

.pokemonStat {
    margin: 5%;
}

.pokemonStats {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#pokemonResult {
    width: calc(100vw - 10%);
    margin: 5%;
    border: 5px solid black;
    padding: 5%;
}

.pokemonType {
    list-style-type: none;
}

.redText {
    color: red;
}

.spacer {
    height: 50px;
    width: 100%;
    background-color: aliceblue;
    padding: 0px;
}

.searchLabel {
    margin: 5% 0 5% 5%;
    font-size: xx-large;
}

.sectionImage {
    width: 50%;
    margin: 0px;
}

.section {
    width: 90%;
    margin: 2.5% 5%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: whitesmoke;
}

.typesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(20% + 50px);
    margin-left: 10%;
}